$white: unquote('#ffffff');
$white-smoke: unquote('#f2f2f2');
$violet: unquote('#9335ff');
$orange: unquote('#e89d40');
$summer-sky: unquote('#27aae1');
$dusty-grey: unquote('#999999');
$grey: unquote("#cccccc");
$red: unquote('#ff0000');
