@import './main.scss';

html {
    height: 100%;
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: 'Comfortaa', san-serif;
    font-size: 12px;
    background: $white-smoke;
    color: $dusty-grey;
    width: 100%;
    height: 100%;
}

.main-container {
    @extend %flex-container-column;
    align-items: center;
    min-height: 100vh;
}

.message {
    text-align: center;
    margin-top: 250px;
}

.error {
    @extend .message;
    color: $red;
}

.messages-container {
    margin-top: 10px;
    width: 400px;
    padding: 0 15px;
}

.message-container {
    @extend %flex-container-column;
    background: $white;
    border-radius: 6px;
    padding: 15px;
    width: 100%;
    font-size: 11px;
    & div:last-of-type {
        padding-top: 5px;
        font-size: 12px;
    }
}

.message-row {
    @extend %flex-container-row;
    justify-content: space-between;
    
}

.msg-title {
    font-weight: bold;
}

.positive-score {
    color: $violet;
}

.negative-score {
    color: $orange;
}

.message-question {
    font-size: 10px;
    max-width: 90%;
}

.message-date {
    font-size: 10px;
}

.thread-size {
    @extend %flex-container-row;
    font-size: 8px;
    justify-content: flex-end;
}

.size-title {
    position: relative;
    color: $white;
    border-radius: 6px;
    padding: 1px 10px;
    bottom: -5px;
}

.positive-title {
    background: $summer-sky;
}

.negative-title {
    background: $orange;
}
