@import 'src/static/colors';

%flex-container {
    display: flex;
}

%flex-container-row {
    @extend %flex-container;
    flex-direction: row;
}

%flex-container-column {
    @extend %flex-container;
    flex-direction: column;
}

@for $i from 1 through 10 {
    %flex-item-#{$i} {
        flex: #{$i};
    }
}
